body{
  width:100%;
  margin:0;
  padding:0;
  margin:0 auto;
}
.Header{
  background:rgba(255,255,255,0.9);
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 80px;
  z-index:10;
}
.Humberger{
  width:1000%;
}
.Humberger__body{
  display: block;
  list-style: none;
  margin:0;
  padding:0;
}
.Humberger__button{
  height:10px;
  width:60px;
  background:#333;
  margin:10px;
  position:relative;
  top:25px;
  text-indent:-9999px;
}
.Humberger__button:before{
  content:"";
  display: block;
  width:60px;
  height: 10px;
  background:#333;
  position:absolute;
  top:-20px;
}
.Humberger__button:after{
  content:"";
  display: block;
  width:60px;
  height: 10px;
  background:#333;
  position:absolute;
  bottom:-20px;
}
.Humberger__body{
  margin-top:60px;
}
.Humberger__item{
  font-weight:bold;
  width:100%;
  background:rgba(255,255,255,0.7);
  border-bottom:1px solid rgba(0,0,0,0.7);
  font-size:18px;
  padding:10px;
}
.Humberger__item:first-child{
  border-top:1px solid rgba(0,0,0,0.7);
}